{% if content %}
	<section {{ attributes.addClass('evenex-stat-banner')}}>
		<div class="overlay"></div>
		<div class="container">
			{% if content.stats|has_value %}
				<div class="row">
					{% for item in content.stats|array_elements(region_attributes.stats.addClass('col-6 col-md-3')) %}
						{{ item }}
					{% endfor %}
				</div>
			{% endif %}

		</div>

	</section>

{% endif %}
